{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
  {% include "orderform/progress_bar.html" with address_status='active' letter_status='disabled' email_status='disabled' payment_status='disabled' %}
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h3 class="card-header primary-color white-text">Address Details</h3>
      <div class="card-block">
        <form action="/address-details" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-5">
              <h3>From:</h3>
              <div class="md-form">
                {% render_field form.sender_name class+="form-control" %}
                <label for="id_sender_name">Sender Name</label>
              </div>
              <div class="md-form">
                {% render_field form.sender_unit class+="form-control" %}
                <label for="id_sender_unit">Sender Apt or PO Box # (optional)</label>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <div class="md-form">
                    {% render_field form.sender_street_number class+="form-control" %}
                    <label for="id_sender_street_number">Address #</label>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="md-form">
                    {% render_field form.sender_route class+="form-control" %}
                    <label for="id_sender_route">Street</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="md-form">
                    {% render_field form.sender_locality class+="form-control" %}
                    <label for="id_sender_locality">City</label>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="md-form">
                    {% render_field form.sender_state class+="form-control" %}
                    <label for="id_sender_state">State</label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="md-form">
                    {% render_field form.sender_postal_code class+="form-control" %}
                    <label for="id_sender_postal_code">Zip Code</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <h3>To:</h3>
              <div class="md-form">
                {% render_field form.recipient_name class+="form-control" %}
                <label for="id_recipient_name">Recipient Name</label>
              </div>
              <div class="md-form">
                {% render_field form.recipient_unit class+="form-control" %}
                <label for="id_recipient_unit">Recipient Apt or PO Box # (optional)</label>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <div class="md-form">
                    {% render_field form.recipient_street_number class+="form-control" %}
                    <label for="id_recipient_street_number">Address #</label>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="md-form">
                    {% render_field form.recipient_route class+="form-control" %}
                    <label for="id_recipient_route">Street</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="md-form">
                    {% render_field form.recipient_locality class+="form-control" %}
                    <label for="id_recipient_locality">City</label>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="md-form">
                    {% render_field form.recipient_state class+="form-control" %}
                    <label for="id_recipient_state">State</label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="md-form">
                    {% render_field form.recipient_postal_code class+="form-control" %}
                    <label for="id_recipient_postal_code">Zip Code</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-lg btn-primary">Next: Attach Letter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
