<div class="col-md-12">
  <hr>
</div>
<div class="col-md-4">
  <h2><span class="glyphicon glyphicon-envelope text-green" aria-hidden="true"></span> Skip the Post Office</h2>
  <p>We'll print and deliver your letter to the post office for you. Send a letter in less than 3-minutes.</p>
</div>
<div class="col-md-4">
  <h2><span class="glyphicon glyphicon-map-marker text-green" aria-hidden="true"></span> Track Delivery</h2>
  <p>We'll let you know when your letter is delivered. Register an account to track multiple letters in one place.</p>
</div>
<div class="col-md-4">
  <h2><span class="glyphicon glyphicon-lock text-green" aria-hidden="true"></span> Absolute Privacy</h2>
  <p>Our letter handlers are under strict non-disclosure agreements, and all letters are sent with protective envelopes.</p>
</div>
