<div class="col-md-5">
  <h2>Certified mail provides official proof that your letter was received.</h2>
  <p>When you send a certified letter, the post office requires that the person receiving it sign the document. Certified mail is the standard for proving that communication was delivered in writing.</p>
</div>
<div class="col-md-6 col-md-offset-1">
  <h2>Do it with certified mail.</h2>
  <h4><i class="glyphicon glyphicon-ok-sign text-green"></i> Stop phone harrassment from creditors.</h4>
  <h4><i class="glyphicon glyphicon-ok-sign text-green"></i> Cancel a gym membership.</h4>
  <h4><i class="glyphicon glyphicon-ok-sign text-green"></i> Communicate with your landlord or tenants.</h4>
</div>
<div class="col-md-4 col-md-offset-4 text-center">
  <br>
  <h2>Simple, no nonsense pricing.</h2>
  <a href="/pages/pricing" class="btn btn-primary" style="margin-top:13px;">View Pricing <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
</div>
