<div class="col-md-5">
  <h2>Certified mail provides official proof that your letter was received.</h2>
  <p>When you send a certified letter, the post office requires that the person receiving it sign the document. Certified mail is the standard for proving that communication was delivered in writing.</p>
</div>
<div class="col-md-offset-1 col-md-6">
  <h2>Use Certified Mail:</h2>
  <ul class="list-group">
    <li class="list-group-item">Stop phone harrassment from creditors.</li>
    <li class="list-group-item">Cancel a gym membership.</li>
    <li class="list-group-item">Communicate with your landlord or tenants.</li>
  </ul>
</div>
