<div class="col-md-5">
  <h2>Certified mail provides official proof that your letter was received.</h2>
  <p>When you send a certified letter, the post office requires that the person receiving it sign the document. Certified mail is the standard for proving that communication was delivered in writing.</p>
</div>
<div class="col-md-offset-1 col-md-6">
  <h2>Do it with certified mail.</h2>
  <h4><i class="glyphicon glyphicon-ok-sign text-green"></i> Stop phone harrassment from creditors.</h4>
  <h4><i class="glyphicon glyphicon-ok-sign text-green"></i> Cancel a gym membership.</h4>
  <h4><i class="glyphicon glyphicon-ok-sign text-green"></i> Communicate with your landlord or tenants.</h4>
</div>
