{% load staticfiles %}
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Sendcertified – Print, send, and track certified mail for $9</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/mdb.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
      <script src="{% static '/js/tinymce/tinymce.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/js/tinymce/custom.js' %}" ></script>
    </head>
    <body>
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" style="padding-top: 5px;" href="/">
                <img alt="Brand" class="brand-icon" height="40" src="{% static 'main/img/icon.png' %}"><span class="brand-name"> Sendcertified</span>
              </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li><a href="/accounts/profile/">Account</a></li>
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </header>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      <hr>
      {% include 'footer.html' %}
    </body>
    <script type="text/javascript" src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/mdb.min.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="{% static 'main/js/stripe.js' %}"></script>
</html>
