{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
      <div class="col-md-6">
        <div class="main-heading">
          <h1>Sendcertified <span class="tagline">&nbsp Send and track certified mail for $5 + postage.</span></h1>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-4">
                <div class="md-form home-input">
                  <input type="text" class="form-control" id="from-field">
                  <label for="from-field">From Address</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form home-input">
                  <input type="text" class="form-control" id="to-field">
                  <label for="to-field">To Address</label>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="form-group">
              <button type="submit" onClick="document.getElementById('initial_address').submit();" class="btn btn-primary btn-block" style="margin-top:13px;">Send certified mail <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your contact information.</small>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      {% include "homepage/whycertified.html" %}
    </div>

    <div class="row">
      {% include "homepage/how_it_works.html" %}
    </div>

    <div class="row">
      {% include "homepage/features.html" %}
    </div>

  <form id="initial_address" action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
  </form>
{% endblock %}
